*{
  font-family: sans-serif;
  font-size: 30px;
}

p{
  margin: 5px;
}
#slide1Container{
  height: 100vh;
  width:100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left:0;
}

#container {
  height: 1000000px;
  width: 100%;
}
#slide1{
  width: 100%;
  display:flex;
  flex-direction: row;
}
#countries {
  position: relative;
  width: 50vw;
  padding: 50px 0 0 100px;
  box-sizing: border-box;
}

.map {
  width: 100%;
  position: absolute;
}


.country {
  position: absolute;
  opacity:0;
  transition: opacity 0.3s ease 0.1s, transform 0.3s ease;
}

#germany {
  top: 20%;
  left: 90%;
}

#france {
  top: 50%;
  left: 60%;
}

#spain {
  top: 75%;
  left: 35%;
}
#bigFactsContainer{
  display: flex;
  align-items: center;
  width: 50%;
    position: relative;
}

.bigFacts {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  opacity: 0;
}

.bigFacts .small {

}

.bigFacts .big {
font-weight: bold;
}
